<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hbm2ddl.auto">create</property>
        <property name="connection.url">jdbc:postgresql://localhost/testdb</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">1234</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.c3p0.min_size">5</property>

        <mapping class="com.ods.learning.model.Car"/>
    </session-factory>
</hibernate-configuration>